@import 'variables'

body
  padding: 0
  margin: 0

  font-family: 'Oxygen', sans-serif

.container
  width: 80%

  text-align: center

  padding-top: 20px

  // needed for transitions to work
  // (so that two pages can 'overlay' each other)
  position: absolute
  left: 10%

.header
  margin-top: 50px
  margin-bottom: 40px

  i.fa-angle-left, .back-counterbalance
    width: 200px
    font-size: 35px
    padding-right: 15px
    display: inline-block


a[href], a.show
  cursor: pointer
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline
    color: black

.color-ish
  color: $color-ish

.color-light
  color: $color-light