@import 'variables'

.music
  padding-bottom: 30px

  h2:not(:first-child)
    margin-top: 50px

  .soundcloud
    iframe
      margin-top: 30px
      width: 600px

  .piano
    margin-top: 50px
    iframe
      margin-top: 20px
      display: block

  iframe
    margin: auto
    border-style: none

    @media screen and (max-width: $mobile)
      width: calc(100% - 20px) !important
