@import 'variables'

.software

  i.fa-github
    font-size: 20px
    margin-right: 5px
      
  .content
    margin: auto
    width: 90%

    .col
      vertical-align: top
      text-align: left
      width: 30%
      display: inline-block

      &:nth-child(2)
        margin: 0 5%

      h2
        color: darken($color-ish, 20%)
        margin-bottom: 40px

      .item
        margin-bottom: 50px

        h3
          font-size: 20px
          margin-bottom: 5px

        img
          max-width: 80%

          &.app
            width: 50%

          &:not(.no-border):not(.app)
            border: $color-ish 1px solid

        .tech
          color: $color-ish
