@import 'variables'

.writing
  ul.paper-table, .other-table
    width: 450px
    margin: auto
    line-height: 25px
    margin-bottom: 50px

  ul.paper-table
    text-align: left

    .paper-title
      width: 90%
      display: inline-block

    .year
      display: inline-block

    .italics
      font-style: italic