.exp
{
	font-weight: bold;
	font-family: "Courier New" monospace;
	margin-left: 2px;
	margin-right: 2px;
}

#help
{
	display: none;
}

#lambda
{
	text-align: left;
}

#ans
{
	width:100%;
	padding-bottom: 20px;
	white-space: nowrap;
	overflow-x: visible;
}

.smaller
{
	font-size: 90%;
}

.cat-lam
{
	/* .color-ish */
	padding-right:10px;
	text-align: right;
}

#buttons
{
	border-spacing: 4px;
	margin-left: 0px;

	padding-top: 5px;
	padding-bottom: 20px;
}

#mass-btns
{
	text-align: center;
}

#psets
{
	padding-top: 10px;
}

#cust-form
{
	margin-bottom: -20px;
}

#form
{
	display: table;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

#txt
{
	width: 250px;
	vertical-align:middle; 
	display: table-cell;
	font-size: 102%;
	margin-right: 5px;
}

body
{
	padding: 0;
	margin: 0;

	-webkit-text-size-adjust: 100%;
	text-align:center;
	font-family: 'Oxygen', sans-serif;
}

#page
{
	width: 100%;
	height: 100%;
}

#everything
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
  max-width: 800px;
	top: 8%;
}

a
{
	color:inherit;
	text-decoration:none;
}

a.show-b, a.show, a.line, a:hover, li > a
{
	text-decoration:underline;
}

.color-bg {color:#0D0D0D; }
.color-bg-b { color:#FBFBFB; }

a.show-b, a.link-b:hover { color:white; }
a.show,   a.link:hover { color:black; }

.color-black { color:black; }
.color-black-b { color:white; }

.color-dark { color:#494949; }
.color-dark-b { color:#B5B5B5; }

.color-ish { color:#6B6B6B; }
.color-ish-b { color:#949494; }

.color-light { color:#A6A6A6; }
.color-light-b { color:#595959; }

#back
{
	float: left;
	font-size: 90%;
  margin-left: 50px;
  position: absolute;
}

.hidden
{
	display: none;
}

h1
{
	font-size:180%;
}

.italics
{
	font-style: oblique;
}

#content
{
	padding-top:10px;
	padding-bottom:10px;
}
